/*===================================================
    Common Style
====================================================*/

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


:root {
    --primary-font: "DM Sans", sans-serif;
    --body-font: "DM Sans", sans-serif;
    --primary-color: #df1119;
    --heading-color: #000;
    --body-color: #242424;
    --white-color: #ffffff;
    --grey-color: #dddddd;
    --bg-white: #ffffff;
    --whatsapp-color: #25D366;
    --bg-grey: #f8f5f1;
    --box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.250);
    --transition: all 0.5s cubic-bezier(.165, .85, .45, 1);
}

/*Smooth Scroll*/
html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

body {
    background-color: #fff;
    font-family: var(--body-font), sans-serif;
    color: var(--body-color);
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    letter-spacing: -0.2px;
    position: relative;
    overflow-x: hidden;
}


    {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--primary-font), sans-serif;
    -webkit-font-smoothing: antialiased;
    color: var(--heading-color);
}

h1 {
    font-size: 45px;
    font-weight: 600;
    line-height: 55px;
    margin: 0 0 10px;
    color: var(--heading-color);
}

h2 {
    font-size: 32px;
    line-height: 42px;
    color: var(--heading-color);
    margin: 0 0 10px;
    font-weight: 700;
    letter-spacing: -1px;
}

h3,
h4 {
    margin: 0 0 10px;
    font-weight: 800;
    line-height: 1.7;
    color: var(--primary-color);
    letter-spacing: -0.5px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 16px;
}

h5,
h6 {
    font-size: 14px;
    margin: 0 0 10px;
}

p {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 15px;
}

a {
    color: var(--heading-color);
}

a,
a:hover {
    text-decoration: none;
}

a:focus {
    outline: 0;
    text-decoration: none;
}

img {
    border: none;
    outline: none;
    max-width: 100%;
}

ul {
    display: block;
    list-style: none;
    padding: 0;
    margin: 0;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
    /*Firefox 19+*/
    color: var(--body-color) !important;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
    color: var(--body-color) !important;
}

button {
    border: none;
    background: none;
}

/*Padding Classes*/
.padding {
    padding: 100px 0;
}

.padding-top {
    padding-top: 100px;
}

.padding-bottom {
    padding-bottom: 100px;
}

.no-padding {
    padding: 0;
}

@media (max-width: 992px) {
    .padding {
        padding: 80px 0;
    }

    .padding-bottom {
        padding-bottom: 80px;
    }

    .padding-top {
        padding-top: 80px;
    }
}

@media (max-width: 767px) {
    .padding {
        padding: 100px 0;
    }

    .padding-bottom {
        padding-bottom: 60px;
    }

    .padding-top {
        padding-top: 60px;
    }
}


@media (max-width: 992px) {
    .sm-padding {
        padding: 15px;
    }
}

/*Margin Class*/
.mt-10 {
    margin-top: 10px;
}

.mt-15 {
    margin-top: 15px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-40 {
    margin-bottom: 40px;
}

/*Transition Effect*/
a,
a:hover,
.form-control,
.form-control:hover,
button {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

/*Scrollbar Style*/
::-webkit-scrollbar {
    background-color: #73090D;
    width: 8px;
    height: 8px
}

::-webkit-scrollbar-thumb {
    cursor: pointer;
    background-color: var(--primary-color);
}

::selection {
    background-color: var(--primary-color);
    color: #fff
}

-webkit-::selection {
    background-color: var(--primary-color);
    color: #fff
}

::-moz-selection {
    background-color: var(--primary-color);
    color: #fff
}

@keyframes fade-in-left {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.site-preloader img {
    animation: fade-in-left 1.5s ease-out forwards;
}

/*Site Preloader*/
#preloader-wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999999999;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

#preloader-wrap svg {
    width: 100vw;
    height: 110vh;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    fill: #fff;
}

/*Default Button*/
.btn-group {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

/*Default Btn*/
.default-btn {
    background: var(--primary-color);
    font-family: var(--primary-font);
    color: var(--white-color);
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    text-transform: capitalize;
    display: inline-flex;
    letter-spacing: -0.2px;
    padding: 15px 30px;
    border-radius: 2px;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.default-btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: var(--whatsapp-color);
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: scale(0, 1);
    -moz-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -o-transform: scale(0, 1);
    transform: scale(0, 1);
    transition: transform 500ms cubic-bezier(0.85, 0, 0.08, 1),
        -webkit-transform 500ms cubic-bezier(0.85, 0, 0.08, 1);
    -webkit-transition-timing-function: cubic-bezier(0.85, 0, 0.08, 1);
    transition-timing-function: cubic-bezier(0.85, 0, 0.08, 1);
    z-index: -1;
}

.default-btn:hover:before {
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

.default-btn:hover {
    color: #fff;
}

.default-btn i {
    margin-right: 5px;
}

@media (max-width: 600px) {
    .default-btn {
        font-size: 13px;
        line-height: 1;
        padding: 15px 18px;
    }
}

/*Section Heading*/
.sub-heading {
    --logisko-bd-width: 1.5px;
    font-family: var(--primary-font);
    color: var(--primary-color);
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 1;
    position: relative;
    z-index: 1;
}

.sub-heading.is-border {
    padding-right: 40px;
}

.sub-heading .sh-underline {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    color: var(--primary-color);
    border-bottom: var(--logisko-bd-width) solid var(--primary-color);
    z-index: -1;
}

.sub-heading .sh-underline img {
    width: 32px;
    height: auto;
    position: absolute;
    right: 0;
    bottom: -8px;
}

.section-heading h2 {
    --hl-bd-width: 100%;
    font-size: 46px;
    line-height: 52px;
    font-weight: 700;
    letter-spacing: 0px;
    text-transform: inherit;
    display: block;
    margin: 0;
}

.section-heading h2.text-anim {
    --hl-bd-width: 0%;
}

.section-heading h2 span.hl {
    display: inline-block;
    position: relative;
    z-index: 1;
}

.section-heading h2 span.hl:before {
    background-color: var(--primary-color);
    content: "";
    width: var(--hl-bd-width);
    height: 8px;
    position: absolute;
    left: 0;
    bottom: 5px;
    z-index: -1;
}

.section-heading p {
    margin-top: 20px;
    margin-bottom: 0;
}

.section-heading .default-btn {
    margin-top: 25px;
}

.section-heading-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
}

.section-heading.white h2 {
    color: var(--white-color);
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.9),
                 0 0 8px rgba(0, 0, 0, 0.7),
                 0 0 12px rgba(0, 0, 0, 0.5);
}

.section-heading.white p {
    color: var(--white-color);
}

@media (max-width: 1200px) {
    .content-info .section-heading h2 {
        font-size: 34px;
        line-height: 44px;
    }
}

@media (max-width: 992px) {
    .section-heading-wrap br {
        display: none;
    }
}

@media (max-width: 767px) {
    .section-heading h2 {
        font-size: 32px;
        line-height: 42px;
    }

    .section-heading h2 br {
        display: none;
    }

    .section-heading-wrap {
        display: block;
    }

    .section-heading-wrap .default-btn {
        margin-top: 30px;
    }
}

/*Custom Cursor*/
.dl-cursor {
    display: none;
}

@media (min-width: 992px) {
    .dl-cursor {
        display: block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: fixed;
        left: 0;
        top: 0;
        user-select: none;
        pointer-events: none;
        transform: translate(50%, 50%);
        visibility: hidden;
        z-index: 10000;
        -webkit-transition: all .5s cubic-bezier(.165, .84, .44, 1);
        transition: all .5s cubic-bezier(.165, .84, .44, 1);
    }

    .dl-cursor:before {
        background-color: var(--heading-color);
        content: "";
        width: 100%;
        height: 100%;
        border-radius: 50%;
        position: absolute;
        left: 0;
        top: 0;
        transition: all 0.3s ease;
    }

    .dl-cursor.cursor-grow:before {
        opacity: 0.7;
        transform: scale(1.5);
        transition: all 0.3s ease;
    }

    .dl-cursor.hide {
        opacity: 0;
        transition: opacity 0.3s ease;
        transition-delay: 0.4s;
    }

    .dl-cursor.hide .inner {
        transform: scale(0.1);
        transition: transform 0.3s ease;
    }

    /*Cursor Expand*/
    .dl-cursor.expand:before {
        background-color: var(--whatsapp-color);
        transform: scale(5);
        transition: all 0.3s ease;
    }

    .dl-cursor.expand:after {
        font-family: "Font Awesome 6 Pro";
        color: #fff;
        content: "\f065";
        font-size: 18px;
        font-weight: 900;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 1px;
        top: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.3s ease;
        z-index: 1;
    }

    .dl-cursor.expand {
        transform: scale(2);
        transition: all 0.3s ease;
    }
}


/*Check List*/
.check-list {}

.check-list li {
    color: var(--heading-color);
    font-size: 16px;
    font-weight: 600;
    display: flex;
    align-items: center;
}

.check-list li:not(:last-of-type) {
    margin-bottom: 10px;
}

.check-list li i {
    color: var(--primary-color);
    font-size: 15px;
    margin-right: 10px;
}

/*Map Pattern*/
.footer-wrapper {
    background-color: var(--white-color);
    color: #000;
}

.map-pattern {
    background-image: url(../img/map.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

/*Form Style*/
.form-field .form-control {
    background-color: var(--bg-grey);
    height: 60px;
    border-radius: 2px;
    border: none;
    outline: none;
    box-shadow: none;
}

.form-field textarea.form-control {
    height: 150px;
}

/*Nice Select*/
.nice-select {
    background-color: var(--bg-grey);
    width: 100%;
    height: 50px;
    border-radius: 0;
    border: 1px solid #eee;
    box-shadow: none;
    outline: none;
}

.nice-select:hover {
    border-color: #eee;
}

.nice-select:active,
.nice-select.open,
.nice-select:focus {
    border: 1px solid #eee;
}

.nice-select .current {
    font-size: 1rem;
    font-weight: 400;
    line-height: 48px;
}

.nice-select .list {
    border-radius: 0;
    margin-top: 0;
    width: 100%;
    max-height: 250px;
    overflow-y: auto;
    overscroll-behavior: contain;
}

/*Running Text*/
.running-text {
    background-color: var(--primary-color);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    padding: 30px 0;
    overflow: hidden;
}

.running-text ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 60px;
}

.running-text ul li {
    font-family: var(--primary-font);
    color: var(--white-color);
    display: inline-block;
    white-space: nowrap;
    font-size: 22px;
    font-weight: 600;
    text-transform: capitalize;
    position: relative;
}

.running-text ul li:before {
    font-family: "Font Awesome 6 Pro";
    font-weight: 300;
    content: "\f043";
    position: absolute;
    right: -40px;
    top: 50%;
    transform: translateY(-50%);
}

.scroller__inner {
    padding-block: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.scroller[data-animated="true"] .scroller__inner {
    width: max-content;
    flex-wrap: nowrap;
    animation: scroll var(--_animation-duration, 40s) var(--_animation-direction, forwards) linear infinite;
}

.scroller[data-direction="right"] {
    --_animation-direction: reverse;
}

.scroller[data-direction="left"] {
    --_animation-direction: forwards;
}

.scroller[data-speed="fast"] {
    --_animation-duration: 20s;
}

.scroller[data-speed="slow"] {
    --_animation-duration: 60s;
}

@keyframes scroll {
    to {
        transform: translate(calc(-50% - 0.5rem));
    }
}

/*Scrool Up*/
#scrollup {
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 40px;
    left: 40px;
    overflow: hidden;
    z-index: 999;
}

.scroll-to-top {
    background-color: var(--primary-color);
    color: var(--white-color);
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 20px;
    padding: 0;
    line-height: 40px;
    border-radius: 0;
    outline: none;
    text-decoration: none;
    transform: translateY(150%);
    transition: all 0.3s ease-in-out;
}

#scrollup.show {
    opacity: 1;
}

#scrollup.show .scroll-to-top {
    transform: translateY(0);
    transition: all 0.3s ease-in-out;
}

.scroll-to-top:hover {
    text-decoration: none;
    opacity: 0.8;
    transition: all 0.3s ease-in-out;
}

@media (max-width: 767px) {
    #scrollup {
        display: none !important;
    }
}